/*zerando as configurações iniciasi do css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

/*definindo a imagem de fundo e os padrões de nao repetição e cover*/
body{
    background: url(./img/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

/*dimensionando as imagens e o comportamento para a animação*/
img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

/*dimensionando a div principal*/ 
.content{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

/*dimensionando e stilizando o input que recebera as task*/
.input_task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

/*estilizando o botao que adiciona os input's*/
.button_add_task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button_add_task:hover{
    opacity: 0.8;
}

.button_add_task:hover:active{
    opacity: 0.6;
}

/*estilizando a lista de tarefas*/
.list_task{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

/*estilizabndo a tarefa da lista*/
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.task:hover img{
    opacity: 1;
}

/*condição que estiliza uma tarefa concluida*/
.done{
    background-color: #8fac55;
    text-decoration: line-through;
}